@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@200&family=Open+Sans:wght@300;400&family=Poppins:wght@200&family=Supermercado+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@200&family=Open+Sans:wght@300;400&family=Poppins:wght@200&family=Supermercado+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background: hsl(233, 47%, 7%);
  font-size: 15px;
  color:  hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  line-height: 1.6;
 

}

.purple {
  color: hsl(277, 64%, 61%);
}

.card{
  background:  hsl(244, 38%, 16%);
  display: flex;
  flex-direction: row-reverse;
  border-radius: 10px;
 
}


img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

.head-line {
  font-size: 2em;
}
.main-paragraph{
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 12px;
}

.overviews .overview p {
  color:  hsla(0, 0%, 100%, 0.6);
}


